In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('desafio1.csv')
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [3]:
df.shape

(7000, 12)

In [4]:
media = df.groupby('estado_residencia')['pontuacao_credito'].mean()
media

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [5]:
mediana = df.groupby('estado_residencia')['pontuacao_credito'].median()
mediana

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [6]:
desvio = df.groupby('estado_residencia')['pontuacao_credito'].std()
desvio

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

In [7]:
resp = pd.DataFrame({'mediana':mediana, 'media':media, 'desvio_padrao':desvio})
resp = resp.sort_values(by='estado_residencia', ascending=False)
resp.T

estado_residencia          SC          RS          PR
mediana            653.000000  650.000000  650.000000
media              649.537653  651.105143  648.961294
desvio_padrao       97.233493   95.136598   98.607186

In [8]:
import numpy as np

In [9]:
df = df.drop(['RowNumber','id','sobrenome'],axis=1)

In [10]:
df.head()

,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,619,SC,F,42,2,0.00,1,1,1
1,608,RS,F,41,1,83807.86,1,0,1
2,502,SC,F,42,8,159660.80,3,1,0
3,699,SC,F,39,1,0.00,2,0,0
4,850,RS,F,43,2,125510.82,1,1,1

In [11]:
resp = df.groupby('estado_residencia')['pontuacao_credito'].agg([pd.Series.mode, np.median, np.mean, np.std])
resp

                   mode  median        mean        std
estado_residencia
PR                  850     650  648.961294  98.607186
RS                  850     650  651.105143  95.136598
SC                  850     653  649.537653  97.233493

In [12]:
resp = resp.rename(columns={'mode':'moda', 'median':'mediana', 'mean':'media', 'std':'desvio_padrao'})
resp

                   moda  mediana       media  desvio_padrao
estado_residencia
PR                  850      650  648.961294      98.607186
RS                  850      650  651.105143      95.136598
SC                  850      653  649.537653      97.233493

In [13]:
resp = resp.sort_values(by='estado_residencia', ascending=False)
resp

                   moda  mediana       media  desvio_padrao
estado_residencia
SC                  850      653  649.537653      97.233493
RS                  850      650  651.105143      95.136598
PR                  850      650  648.961294      98.607186

In [14]:
resp = resp.T
resp

estado_residencia          SC          RS          PR
moda               850.000000  850.000000  850.000000
mediana            653.000000  650.000000  650.000000
media              649.537653  651.105143  648.961294
desvio_padrao       97.233493   95.136598   98.607186

In [15]:
resp.to_json('submission.json', orient='index')

COMO ELES QUEREM:

In [16]:
r = {"SC": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}, 
 "RS": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}, 
 "PR": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}}

In [17]:
pd.DataFrame(r)

                SC   RS   PR
moda           0.0  0.0  0.0
mediana        0.0  0.0  0.0
media          0.0  0.0  0.0
desvio_padrao  0.0  0.0  0.0